{% extends 'myapp/base.html' %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>
</head>

{% block content %}
    <h2>Bienvenido, {{ user.username }}</h2><br>

    <p><strong>Nombre:</strong> {{ user.first_name }} {{ user.last_name }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Último resultado de Huella de Carbono emitida:</strong> {{ user.bio }}</p>

{% endblock %}

